.cp.container {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.cp .controls {
    margin: 10px;
    text-align: center;
}

.cp .playlist {
    text-align: center;
    width: 400px;
}

.cp i.fa {
    margin: 2px 7px;
    font-size: 3rem;
    cursor: pointer;
}

.cp i.fa:active {
    opacity: 0.5;
}

.cp .playlist-item {
    display: inline-block;
    margin: 0 7px 7px 7px;
    width: 3rem;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #0C0;
    border: 4px solid #7F7;
    font-weight: bold;
}

.cp .current.playlist-item {
    border-color: #36F;
}