.fixed.container {
    font-family: "Andale Mono", monospace;
    font-size: 14px;
    width: 100%;
    color: #EEE;
    background-color: #000;
    position: fixed;
    bottom: 0;
    padding-bottom: 1px;
    display: flex;
}

.fixed .controls {
    margin: 10px auto;
    text-align: center;
    display: flex;
}

.fixed i.fa {
    display: block;
    flex: 1;
    margin: 0 10px;
    font-size: 1rem;
    cursor: pointer;
}

.fixed i.fa:active {
    opacity: 0.5;
}

.fixed .marquee {
    width: 50%;
    margin: 10px auto;
}

.fixed .time-slider {
    width: 25%;
    margin: 10px auto;
}

.fixed .rc-slider {
    background-color: #999;
    cursor: pointer;
    margin-top: 6px;
}

.fixed .rc-slider-track {
    background-color: #EEE;
}
.fixed .time {
    width: 50px;
    margin: 10px;
    text-align: center;
}