.wp.container {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ed141c;
    background-color: #3e0408;
    padding: 20px;
    border-radius: 4px;
    border: 8px solid #870b10;
    display: flex;
    height: 180px;
    width: 480px;
}

.wp .player {
    width: 200px;
}

.wp .playlist {
    width: 280px;
    padding-left: 20px;
}

.wp .controls {
    width: 96%;
    margin: 20px auto;
    text-align: center;
    display: flex;
}

.wp i.fa {
    display: block;
    flex: 1;
    font-size: 2rem;
    cursor: pointer;
}

.wp i.fa:active {
    opacity: 0.5;
}

.wp .marquee {
    width: 90%;
    margin: 10px auto;
}

.wp .time-slider {
    padding: 5%;
    width: 90%;
}

.wp .rc-slider {
    background-color: #870b10;
    cursor: pointer;
}

.wp .rc-slider-track {
    background-color: #ed141c;
}

.wp .time {
    margin: 10px auto;
    text-align: center;
}

.wp .playlist-item {
    cursor: pointer;
}

.wp .current.playlist-item {
    color: #51060a;
    background-color: #ed141c;
    border-radius: 2px;
}